{% extends 'admin_template/base.html' %}
{% block main_content %}
<main style="margin-top: 58px">
    <div class="container pt-4">
      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Users</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <!-- New Column Header -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for customers in customer %}
                      <tr>
                        <th scope="row">{{customers.id}}</th>
                        <td>{{customers.name}}</td>
                        <td>{{customers.email}}</td>
                        <td>{{customers.password}}</td>
                        <!-- New Column Data (Edit and Delete Buttons) -->
                      
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                  
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->

     

    </div>
  </main>
{% endblock main_content %}